
$fonts: system-ui;
$primary-color: rgba(12, 155, 83, 0.863);
$secondary-color: rgba(0, 0, 0, 0.8);
$white: white;
$info-col: rgb(241, 253, 249);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: $fonts, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

.fluid-container {
  background-color: $secondary-color;
}

.btn-outline-success {
  color: $primary-color;
  border-color: $primary-color;
}

.btn-outline-success:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

nav {
  .navbar-brand {
    transition: color 0.2s ease-out;
    cursor: pointer;
    color: $primary-color !important;
    font-size: xx-large;
  }
  .navbar-brand:hover {
    color: $primary-color;
  }
  div button {
    margin: 10px;
    color: $white;
  }
  a {
    color: $white;
  }
}

div.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 500px;
  }
}

.chat-rep {
  color: $white;
  margin-right: 5px;
  &:hover {
    cursor: default;
  }
}

button.menu__button {
  background: transparent;
  color: $white;
  font-size: 42px;
  border: 0;
  line-height: 45px;
  transition: 0.2s;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  outline: none;
  transition: opacity .4s ease-out;
  &:hover {
    opacity: .5;
  }
}

.menu-wrap {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  transition: 0.2s;
  background: $primary-color;
  transition: 0.3s;
  border-radius: 50%;
  overflow: hidden;
  z-index: 44;
  cursor: pointer;
  &.open {
    background: white;
    width: auto;
    height: 150px;
    border-radius: 0;
    border: 1px solid #ccc;
    padding: 12px 50px 30px 30px;
    box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.2);

    .menu__button {
      outline: none;
      color: #7b7b7d;
      transform: rotate(45deg);
    }
    .menu__list > li {
      transition: 0.2s;
      transform: translateX(20px);
      &:nth-child(1) {
        transition-delay: 0.4s;
      }
      &:nth-child(2) {
        transition-delay: 0.5s;
      }
    }
    .menu {
      opacity: 1;
      margin-top: 5px;
    }
  }
}

.menu {
  margin-top: 50px;
  opacity: 0;
  transition: 0.2s;
}

.menu__title {
  margin: 0 0 8px 0;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  & > li {
    margin: 0 0 5px 0;
    transform: translateX(30px);
  }
}

.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  background: $primary-color;
  border-radius: 2px;
  position: relative;
  top: -1px;
  margin: 0 4px 0 0;
}

.text-center {
  margin: 0;
}

.log-user {
  color: $primary-color;
}

.content {
  margin: 0;
}

div {
  .lists {
    color: $white;
    padding: 10px 20px 10px 40px;
    text-align: right;
    a {
      cursor: pointer;
    }
    li {
      font-size: 1.3rem;
      &:hover {
        cursor: pointer;
      }
    }
    .active-tab {
      color: $primary-color;
    }
  }
}

.channels-list,
.dm-list {
  list-style-type: none;
  overflow-y: auto;
  height: 152px;
}

h4.heads {
  padding-bottom: 10px;
  border-bottom: 2px solid $white;
}

@media (max-width: 745px) {
  h4.heads {
    font-size: 1.3rem;
  }
  div {
    .lists {
      li {
        font-size: 1rem;
      }
    }
  }
}


div.msgs-content {
  padding-bottom: 70px;
  width: 100%;
  .msg-space {
    background: $white;
    #send_btn {
      visibility: hidden;
    }
    .msg-gutter {
      width: 100%;
      overflow: auto;
      margin: 20px 40px 20px 20px;
      height: 400px;
      .msg-container{
        display: flex;
        width: 100%;
        .msg-info {
          background: $info-col;
          padding: .9em;
          border: 1px solid $secondary-color;
          border-radius: 5px;
          margin: 5px;
          width: 300px;
          height: fit-content;
          .msg-pic {
            img.msg-img{
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
    .send-space {
      width: 100%;
      position: relative;
      bottom: 0;
      // padding: 10px;
      margin: 0;
      textarea,
      button {
        margin: 5px;
        border: 0;
      }
      input[type=text] {
        height: 50px;
        margin: 0 0 5px 20px;
        width: 100%;
      }
      a {
        margin-left: 10px;
        img.send-img {
            background: $primary-color;
            width: 50px;
            height: 50px;
            border: 0;
            border-radius: 50%;
            transition: border .1s;
            &:hover, &:focus {
                border: 1px solid $white;
            }
        }
      }
    }
  }
}
