* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

.fluid-container {
  background-color: rgba(0, 0, 0, 0.8);
}

.btn-outline-success {
  color: rgba(12, 155, 83, 0.863);
  border-color: rgba(12, 155, 83, 0.863);
}

.btn-outline-success:hover {
  background-color: rgba(12, 155, 83, 0.863);
  border-color: rgba(12, 155, 83, 0.863);
}

nav .navbar-brand {
  transition: color 0.2s ease-out;
  cursor: pointer;
  color: rgba(12, 155, 83, 0.863) !important;
  font-size: xx-large;
}
nav .navbar-brand:hover {
  color: rgba(12, 155, 83, 0.863);
}
nav div button {
  margin: 10px;
  color: white;
}
nav a {
  color: white;
}

div.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.img-box img {
  height: 500px;
}

.chat-rep {
  color: white;
  margin-right: 5px;
}
.chat-rep:hover {
  cursor: default;
}

button.menu__button {
  background: transparent;
  color: white;
  font-size: 42px;
  border: 0;
  line-height: 45px;
  transition: 0.2s;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  outline: none;
  transition: opacity 0.4s ease-out;
}
button.menu__button:hover {
  opacity: 0.5;
}

.menu-wrap {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  transition: 0.2s;
  background: rgba(12, 155, 83, 0.863);
  transition: 0.3s;
  border-radius: 50%;
  overflow: hidden;
  z-index: 44;
  cursor: pointer;
}
.menu-wrap.open {
  background: white;
  width: auto;
  height: 150px;
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 12px 50px 30px 30px;
  box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.2);
}
.menu-wrap.open .menu__button {
  outline: none;
  color: #7b7b7d;
  transform: rotate(45deg);
}
.menu-wrap.open .menu__list > li {
  transition: 0.2s;
  transform: translateX(20px);
}
.menu-wrap.open .menu__list > li:nth-child(1) {
  transition-delay: 0.4s;
}
.menu-wrap.open .menu__list > li:nth-child(2) {
  transition-delay: 0.5s;
}
.menu-wrap.open .menu {
  opacity: 1;
  margin-top: 5px;
}

.menu {
  margin-top: 50px;
  opacity: 0;
  transition: 0.2s;
}

.menu__title {
  margin: 0 0 8px 0;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__list > li {
  margin: 0 0 5px 0;
  transform: translateX(30px);
}

.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  background: rgba(12, 155, 83, 0.863);
  border-radius: 2px;
  position: relative;
  top: -1px;
  margin: 0 4px 0 0;
}

.text-center {
  margin: 0;
}

.log-user {
  color: rgba(12, 155, 83, 0.863);
}

.content {
  margin: 0;
}

div .lists {
  color: white;
  padding: 10px 20px 10px 40px;
  text-align: right;
}
div .lists a {
  cursor: pointer;
}
div .lists li {
  font-size: 1.3rem;
}
div .lists li:hover {
  cursor: pointer;
}
div .lists .active-tab {
  color: rgba(12, 155, 83, 0.863);
}

.channels-list,
.dm-list {
  list-style-type: none;
  overflow-y: auto;
  height: 152px;
}

h4.heads {
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

@media (max-width: 745px) {
  h4.heads {
    font-size: 1.3rem;
  }

  div .lists li {
    font-size: 1rem;
  }
}
div.msgs-content {
  padding-bottom: 70px;
  width: 100%;
}
div.msgs-content .msg-space {
  background: white;
}
div.msgs-content .msg-space .msg-gutter {
  width: 100%;
  overflow: auto;
  margin: 20px 40px 20px 20px;
  height: 400px;
}
div.msgs-content .msg-space .msg-gutter .msg-container {
  display: flex;
  width: 100%;
}
div.msgs-content .msg-space .msg-gutter .msg-container .msg-info {
  background: #f1fdf9;
  padding: 0.9em;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin: 5px;
  width: 300px;
  height: fit-content;
}
div.msgs-content .msg-space .msg-gutter .msg-container .msg-info .msg-pic img.msg-img {
  width: 30px;
  height: 30px;
}
div.msgs-content .msg-space .send-space {
  width: 100%;
  position: relative;
  bottom: 0;
  margin: 0;
}
div.msgs-content .msg-space .send-space textarea,
div.msgs-content .msg-space .send-space button {
  margin: 5px;
  border: 0;
}
div.msgs-content .msg-space .send-space #emoji-trigger {
  cursor: pointer;
}
div.msgs-content .msg-space .send-space #emoji-trigger span {
  font-size: 1.3rem;
}
div.msgs-content .msg-space .send-space input[type=text] {
  height: 50px;
  margin: 0 0 4px 20px;
  width: 100%;
}
div.msgs-content .msg-space .send-space a {
  margin-left: 10px;
}
div.msgs-content .msg-space .send-space a img.send-img {
  background: rgba(12, 155, 83, 0.863);
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  transition: border 0.1s;
}
div.msgs-content .msg-space .send-space a img.send-img:hover, div.msgs-content .msg-space .send-space a img.send-img:focus {
  border: 1px solid white;
}
div.msgs-content .msg-space .emoji-box {
  display: none;
  transition: all 2s ease 0.5s;
}

/*# sourceMappingURL=styles.css.map */
