{% extends 'base.html' %}

{% block title %} Yo - Connect{% endblock %}

{% block content %}

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">Yo</a>
    <a href="https://github.com/techemmy/Flask-Chat-Application" target="_blank"><button type="button" class="btn btn-outline-light btn-lg m-1">View Code</button></a>
</nav>

<div class="home-container">
    <div class="img-box">
        <img src="{{ url_for('static', filename='assets/home-pic.svg') }}" alt="Responsive image">
    </div>
    <div class="auth-btn form-inline p-2">
        <button type="button" class="btn btn-success btn-lg m-1" data-toggle="modal" data-target="#login" id="login-btn">Log In</button>
        <button type="button" class="btn btn-outline-success btn-lg m-1 signup" data-toggle="modal" data-target="#signup" id="signup-btn">Register</button>
    </div>

    <!-- AUTHENTICATION MODALS -->
    <div class="modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static", data-keyboard="false">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Welcome Back</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                                {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="modal-body ml-3">
                    {% from "main/_formhelpers.html" import render_field %}
                    <form action="{{ url_for('auth.login') }}" method="POST" class="login-form">
                        <dl class="form-group">
                            {{login_form.csrf_token}}
                            {{render_field(login_form.username, class='form-control')}}
                            {{render_field(login_form.password, class='form-control')}}
                        </dl>                            
                        <p><input type="submit" value="Login" class="btn btn-primary"></p>
                        {% if error %}
                            <p class="error"><strong>Error: </strong>error</p>
                        {% endif %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static", data-keyboard="false">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Hmm... Looks like you're new here</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                                {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="modal-body ml-3">
                    {% from "main/_formhelpers.html" import render_field %}
                    <form action="{{ url_for('auth.sign_up') }}" method="POST" class="sign-up-form">
                        <dl class="form-group">
                            {{signup_form.csrf_token}}
                            {{render_field(signup_form.firstname, class='form-control')}}
                            {{render_field(signup_form.lastname, class='form-control')}}
                            {{render_field(signup_form.username, class='form-control')}}
                            {{render_field(signup_form.email, class='form-control')}}
                            {{render_field(signup_form.password, class='form-control')}}
                            {{render_field(signup_form.confirm, class='form-control')}}
                            <div class="form-check">
                              {{ signup_form.tos }}
                              <label class="form-check-label" for="flexCheckIndeterminate">
                                {{ signup_form.tos.label }}
                              </label>
                            </div>
                        </dl>                            
                        <p><input type="submit" value="Register" class="btn btn-primary"></p>
                        {% if error %}
                            <p class="error"><strong>Error: </strong>error</p>
                        {% endif %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}